* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'League Spartan', sans-serif;
}




.login-container {
    display: flex;
    height: 100vh;
}

.login-left {
    flex: 1;
    background: linear-gradient(10deg, #f26924, #2b2b70);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.login-right {
    flex: 1;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-right h2 {
    margin-bottom: 30px;
    color: linear-gradient(#f26924, #2b2b70);
    ;
}

.left-content h1 {
    font-family: 'Bebas Kai';
    font-size: 90px;
    margin-bottom: 20px;
}

.left-content p {
    font-size: 24px;
}

form {
    width: 350px;
    display: flex;
    flex-direction: column;
}

input {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

button {
    padding: 12px;
    background: #f26924;
    color: white;
    border: none;
    cursor: pointer;
}

form a {
    margin-top: 10px;
    font-size: 14px;
    color: #f26924;
}

.divider {
    margin: 30px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ccc;
}


.social {
    display: flex;
    gap: 20px;
}

.social button {
    background: white;
    color: black;
    border: 1px solid #ccc;
    padding: 10px 20px;
}

.daftar {
    margin-top: 25px;
}


.login-left {
    animation: slideLeft 1s ease;
}

.login-right {
    animation: fadeIn 1.2s ease;
}

.btn-kirim {
    display: inline-block;
    text-align: center;
    padding: 12px;
    background: #f26924;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}