
      *{
margin:0;
padding:0;

}

body{
font-family:'League Spartan',sans-serif;
}

nav{
    background-color: #f26924;
    display: flex;
    align-items: center;
    padding: 1rem;
    color: #2b2b70;
    font-family: Bebas Kai;
}

nav h1{
    font-size: 1.5rem;
    margin-right: 2rem;
}

nav ul{
    list-style: none ;
    display: flex;

}



#container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
   
}

#kotak1, #kotak2, #kotak3{
    width: 200px;
    border: 3px solid #f26924;
    margin: 20px;
    padding: 75px;
    text-align: start;
    font-size: 1.2rem;
}

        

        .container {
          max-width: 1000px;
          margin: auto;
        }

        h1 {
          text-align: center;
          color: #1e3a8a;
        }

        p {
          text-align: center;
          color: #2b2b70;
        }

        .grid {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          gap: 20px;
          margin-top: 40px;
        }

        .card {
          background: white;
          border-radius: 12px;
          padding: 20px;
          cursor: pointer;
          transition: 0.3s;
          border: 2px solid transparent;
        }

        .card:hover {
          transform: translateY(-5px);
          border-color: #2b2b70;
          box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        }

        .icon {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 24px;
          margin-bottom: 15px;
        }

        .blue { background: #2b2b70; }
        .green { background: #f26924; }
        .purple { background: #2b2b70; }

        h3 {
          margin: 0;
          color: #111;
        }

        .desc {
          font-size: 14px;
          color: #2b2b70;
        }