<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Favorit</title>
  <link rel="stylesheet" href="/style/favorite.css">
</head>

<body>

  <div class="navbar">

    <div class="navbar">
      <button class="back-btn" id="navBack" onclick="window.location.href='dashboard.html'">←</button>
      <div class="logo-box">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M4 4h16c1.1 0 2 .9 2 2v8c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2zm0 2v8h16V6H4zm2 9h2v2H6v-2zm10 0h2v2h-2v-2zM8 8h8v4H8V8z" />
        </svg>
      </div>
      <h1 id="navTitle">Favorite </h1>`



    </div>

  </div>
  <div class="container">

    <div class="header">
      <div>
        <h2>Rute Favorit</h2>
        <p>Akses cepat ke rute yang sering Anda gunakan</p>
      </div>

      <button class="add-btn">+ Tambah Rute</button>
    </div>

    <div class="cards">

      <!-- CARD 1 -->
      <div class="card">
        <div class="card-top">
          <span class="tag">⭐ Sering</span>
          <span class="delete">🗑</span>
        </div>

        <div class="route">
          📍 Medan → Pematang Siantar
        </div>

        <button class="primary">Pesan Sekarang</button>
      </div>

      <!-- CARD 2 -->
      <div class="card">
        <div class="card-top">
          <span class="tag">⭐ Kadang-kadang</span>
          <span class="delete">🗑</span>
        </div>

        <div class="route">
          📍 Medan → Tebing Tinggi
        </div>

        <button class="primary">Pesan Sekarang</button>
      </div>

    </div>

  </div>

</body>

</html>