<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lupa Pasword</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&family=Lemon&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style/forgot.css">

</head>

<body>


    <div class="login-container">

        <div class="login-left">
            <div class="left-content">
                <h1>KAI</h1>
                <p>Semakin Melayani<br>Kereta Api Indonesia</p>
            </div>
        </div>


        <div class="login-right">
            <h2>LUPA PASSWORD?</h2>
            <p>Masukkan email anda ntuk mereset pasword</p>
            <form onsubmit="handleForgot(event)">
                <input type="email" id="email" placeholder="Email" required>

                <button type="submit" class="btn-kirim">
                    Kirim
                </button>

                <a href="login.html">Kembali ke Login</a>
            </form>

            <div class="divider">
                <span>ATAU</span>
            </div>

            <div>

            </div>

            <p class="daftar">Belum punya akun? <a href="daftar.html">Daftar</a></p>

        </div>

    </div>
    <script>
        async function handleForgot(e) {
            e.preventDefault();

            const email = document.getElementById("email").value;

            try {
                const res = await fetch("http://localhost:3000/forgot-password", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ email })
                });

                const data = await res.json();

                if (res.ok) {
                    alert(data.message);

                    localStorage.setItem("reset_email", email);

                    window.location.href = "reset.html";
                } else {
                    alert(data.message);
                }

            } catch (err) {
                alert("Server error");
            }
        }
    </script>

</body>

</html>